# dependencies
node_modules/

# compiled output
dist/
**/dist/

# TypeScript build info
**/tsconfig.tsbuildinfo

# environment files
.env

# SQL migrations
sql-migration.sql

# coverage reports
coverage/

# log files
*.log